[submodule "packages/production"]
	path = packages/production
	url = https://github.com/elastic/package-storage
	branch = production
[submodule "packages/staging"]
	path = packages/staging
	url = https://github.com/elastic/package-storage
	branch = staging
[submodule "packages/snapshot"]
	path = packages/snapshot
	url = https://github.com/elastic/package-storage
	branch = snapshot
